jocker_sei/0961496.html
jocker_sei/0967568.html
jocker_sei/1024528.html
jocker_sei/1159758.html
jocker_sei/.ipynb_checkpoints/1159758-checkpoint.html
1115143.html
final_projeto.ipynb
raspagem_daiana.ipynb
raspagem.ipynb
README.md
retirar_html_1.ipynb
retirar_html_all.ipynb
SEIListaPesquisaPersonalizada.py
Auto_SEI.txt
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/Testes_Priscilla-checkpoint.ipynb
