.ipynb_checkpoints
presenca_das_politicas_publicas_sociais_nos_municipios/iframe_figures/figure_167.html
presenca_das_politicas_publicas_sociais_nos_municipios/iframe_figures/figure_170.html
presenca_das_politicas_publicas_sociais_nos_municipios/iframe_figures/figure_173.html
